<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoMVC</title>
    <link rel="stylesheet" href="/assets/base.css">
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/app.css">
  </head>
  <body>
    <section class="todoapp">
      <header class="header">
        <h1>todos</h1>
        <form method="post" action="/todos">
          <input class="new-todo" name="title" placeholder="What needs to be done?" autofocus>
        </form>
      </header>

      <%= yield %>
    </section>

    <footer class="info">
      <p>Double-click to edit a todo</p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>

    <script src="/assets/base.js"></script>
    <script src="/assets/app.js"></script>
  </body>
</html>
